.Game {
  padding: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}

.Game:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

.Game__header {
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
  margin-bottom: 30px;
}

.Game__title {
  margin: 0;
  font-size: 1.75rem;
}

.Game__row {
  margin-top: 10px;
}

.Game__label {
  margin-right: 5px;
}

.Game__value {
  font-weight: 300;
}

.Game__value--indented {
  margin-top: 10px;
  margin-left: 20px;
}

.Game__instructions {
  white-space: pre-wrap;
}

.Game__thumbnail {
  width: 30vw;
  height: auto;
}
